---
layout: default
title: Home
---

<div class="home">
  <h1>Blog Posts</h1>
  
  {% for post in site.posts %}
    <article>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      
      {% if post.author %}
      <div class="post-author-preview">
        <strong>Author:</strong> {{ post.author.name }}
        {% if post.author.bio %}
          <p>{{ post.author.bio }}</p>
        {% endif %}
      </div>
      {% endif %}
      
      <p>{{ post.excerpt }}</p>
    </article>
  {% endfor %}
</div>